<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Home Page <%= 4 + 5 + 1 %></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe amet quos
      facilis quasi labore dolorum repudiandae, perspiciatis eligendi sapiente,
      veniam voluptatibus. Deleniti minima vel nostrum tenetur! Exercitationem
      voluptatem quaerat quam. Id, accusamus ratione recusandae ipsum numquam
      fuga corporis tempora incidunt dolorem necessitatibus commodi consectetur
      beatae debitis! Animi fugiat in, perferendis nulla magni alias tempore
      beatae vero exercitationem laborum iste molestias? Dolores eum
      exercitationem inventore, unde nulla cumque ex, ea dolorum voluptatibus
      consequatur culpa. Sunt, deserunt placeat possimus laudantium modi soluta
      molestiae minima. Saepe quae deleniti impedit totam quaerat eaque tenetur.
    </p>
  </body>
</html>
