<%-block('title').append('Register')-%> <%-layout('layouts/boilerplate.ejs')-%>

<div class="row">
  <div class="col-4 offset-4">
    <div class="card p-4">
      <h1 class="text-center">Register</h1>
      <form action="/register" method="POST" class="validated-form" novalidate>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="email"
            required
          />
        </div>
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            placeholder="username"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="password"
            required
          />
        </div>
        <button class="btn btn-success mt-3">Register</button>
      </form>
    </div>
  </div>
</div>
